<div class=" fixed w-full bg-white h-auto text-[#1A2D34] border-b-2 z-50">
    <div class=" flex flex-row  justify-between items-center px-8 py-2">
        <a routerLink="/" class=" flex flex-row items-center gap-3 font-medium justify-center mt-2 text-lg">
                <p>Room Reservation</p>
                <p>[Sun Travels]</p>
        </a>
        <div class="md:hidden">
            <ng-icon name="heroBars4"  (click)="onClick()" *ngIf="!mobileMenu"></ng-icon>
            <ng-icon name="heroXMark" (click)="onClick()" *ngIf="mobileMenu"></ng-icon>
        </div>
        <ul class="hidden md:flex flex-row gap-10">
            <a routerLink="/hotels">
            <li class="flex flex-row items-center justify-center gap-2 hover:bg-primary/10  p-2 px-3 rounded-lg hover:font-light hover:text-black">
                <ng-icon name="heroHome"></ng-icon>
                Hotels & Rooms
            </li>
        </a>
        </ul>

        <!-- MObile Menu -->
    </div>
    <div *ngIf="mobileMenu" class="md:hidden w-full h-screen text-3xl font-light" >
        <ul class="flex flex-col justify-center items-center gap-5 h-[90vh]">
            <li class="flex flex-row items-center justify-center gap-4" (click)="onClick()">
                <ng-icon name="heroHome"></ng-icon>
                <a routerLink="/">Home</a>
            </li>
            <li class="flex flex-row items-center justify-center gap-4" (click)="onClick()">
                <ng-icon name="heroHome"></ng-icon>
                <a routerLink="/hotels">Hotels & Rooms</a>
            </li>
        </ul>
    </div>
</div>