<div class="flex flex-col w-full h-screen text-black items-center justify-center">
  <div class="w-5/6  p-2">
    <div class="grid md:grid-cols-2 w-full md:gap-20 mt-96 md:mt-0">
          <div class="flex  flex-row items-end justify-center text-2xl">
            <div class="md:fixed top-[15%] left-[10%] flex items-center justify-center">
              <img src="assets/logo.jpg" alt="placeholder" width="600">
            </div>
          </div>
          <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-5  pl-5 py-10 items-start justify-start h-full">
            <p class="text-3xl font-medium capitalize">Search through hotels</p>
              <div class="w-full md:w-2/3">
                <label for="checkInDate" class="primary-label">Check-in Date:</label>
                <input type="date" id="checkInDate" formControlName="checkInDate" class="primary-input-box w-1/5">
              </div>
              <div class="w-full md:w-2/3">
                <label for="numberOfNights" class="primary-label">Number of Nights:</label>
                <input type="number" id="numberOfNights" formControlName="numberOfNights" placeholder="Number of Nights" class="primary-input-box w-1/5">
              </div>
              <div class="flex flex-col w-full">
                  <div formArrayName="rooms">
                    <div *ngFor="let room of rooms.controls; let i = index">
                      <div [formGroupName]="i" class="flex  flex-col md:flex-row gap-2 items-end">
                          <div class="w-full md:w-1/3">
                            <label for="numberOfRooms" class="primary-label">Number of Rooms:</label>
                            <input type="number" id="numberOfRooms" formControlName="numberOfRooms" placeholder="Number of Rooms" class="primary-input-box w-1/5">
                          </div>
                          <div class="w-full md:w-1/3">
                            <label for="numberOfAdults" class="primary-label">Number of Adults:</label>
                            <input type="number" id="numberOfAdults" formControlName="numberOfAdults" placeholder="Number of Adults" class="primary-input-box w-1/5">
                          </div>
                          <button type="button" (click)="removeRoom(i)" *ngIf="i !==0" >
                            <ng-icon name="heroMinus" size="20"></ng-icon>
                          </button>
                          <button type="button" (click)="addRoom()" *ngIf="i === rooms.length - 1" >
                            <ng-icon name="heroPlus" size="20"></ng-icon>
                          </button>
                      </div>
                    </div>
                  </div>
                  <p class="text-xs pt-1">Enter number of adults and number of rooms individually</p>
              </div>
              <div class="fex flex-row w-full">
                <button type="submit" class="primary-button-dark w-1/3 mr-2" >Search</button>
                <button type="button" class="primary-button-light w-1/3" (click)="onClickClear()">Clear</button>
              </div>
            </form>
          </div>
        </div>
</div>
  